In [13]:

import pandas as pd
import csv
import os
from sqlalchemy import create_engine 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from pymongo import MongoClient

In [45]:
path = os.path.join("data/visitors_2020.csv")
visitorCount_20 = pd.read_csv(path, header=[7], encoding='utf-8', delimiter=",", index_col=0)
visitorCount_20 = visitorCount_20.dropna(axis=1, how='all', thresh=3, inplace=False)
visitorCount_20

,Park,Recreation Visitors,Percent Change,Recreation Visitor Days,Percent Change.1,Non-recreation Visitors,Percent Change.2,Recreation Visitor Hours,Percent Change.3,Non-recreation Visitor Hours,...,Tent Overnights,Percent Change.7,Recreation Vehicle Overnights,Percent Change.8,Back Country\nOvernights,Percent Change.9,Non-recreation Overnights,Percent Change.10,Misc. Overnights,Percent Change.11
State,,,,,,,,,,,,,,,,,,,,,
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Horseshoe Bend NMP,"28,600",-36.97%,"8,788",-25.20%,0,NaN,"105,461",-25.20%,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
NaN,Little River Canyon NPRES,"802,375",23.44%,"168,827",27.60%,0,NaN,"2,025,934",27.60%,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
NaN,Natchez Trace PKWY,"428,736",-2.72%,"143,413",-3.01%,"583,028",-9.08%,"1,720,966",-3.01%,"583,028",...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
NaN,Russell Cave NM,"8,462",-49.15%,"1,074",-55.36%,0,NaN,"12,894",-55.35%,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Grand Teton NP,"3,289,638",-3.41%,"1,486,410",-15.87%,"1,220,029",-24.23%,"17,836,930",-15.87%,"1,220,029",...,0,NaN,0,NaN,"40,249",10.90%,0,NaN,0,NaN
NaN,"John D. Rockefeller, Jr. MEM PKWY","1,373,817",-3.70%,"144,764",2.19%,"10,800",0.00%,"1,737,179",2.19%,"2,700",...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
NaN,Yellowstone NP,"1,865,088",-5.32%,"3,125,466",-32.55%,"1,099,227",-5.70%,"37,505,599",-32.55%,"557,631",...,"19,731",-75.65%,"23,290",-70.99%,"33,457",2.94%,0,-74.86%,"2,491",NaN
NaN,Subtotal Wyoming,"7,089,437",-4.60%,"4,883,337",-27.08%,"2,334,598",-16.40%,"58,600,107",-27.08%,"1,783,120",...,"21,732",-74.93%,"31,763",-63.77%,"73,706",NaN,0,NaN,"2,491",NaN
Total,Grand Total,"237,064,318",-27.62%,"87,912,527",-26.23%,"148,436,337",NaN,"1,054,952,561",-26.23%,"80,268,799",...,"1,883,220",NaN,"1,459,486",NaN,"1,434,938",NaN,"30,708",NaN,"906,939",NaN

In [41]:
# tracounts = tracounts.set_index('UnitCode')
# tracounts = tracounts[['ParkName', 'ParkType', 'Region', 'Year', 'Month','TrafficCount', 'TrafficCountTotal.1']].copy()
# tracounts = tracounts.rename(columns={"TrafficCountTotal.1": "TrafficCountTotal"})
# tracounts.head(30)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E2867C9D90>